wine-tools
build
configure
dlls/ntdll/ntsyscalls.h
dlls/vulkan-1/vulkan-1.spec
dlls/win32u/win32syscalls.h
dlls/winevulkan/loader_thunks.c
dlls/winevulkan/loader_thunks.h
dlls/winevulkan/vulkan_thunks.c
dlls/winevulkan/vulkan_thunks.h
dlls/winevulkan/winevulkan.json
dlls/winevulkan/winevulkan.spec
include/config.h.in
include/wine/vulkan.h
include/wine/vulkan_driver.h
include/wine/server_protocol.h
server/request.h
server/trace.c
build-x64
build-glibc-x64
wine-build
